@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
  box-sizing: border-box;
}

main{
  min-height: 80vh;
  max-height: 95vh;
  width: 100vw;
  background: linear-gradient(rgba(226, 215, 215, 0.781), rgba(247, 165, 229, 0.95), rgba(248, 208, 209, 0.658)),
    url("/img/Fondo\ De\ Pantalla\ Con\ Formas\ Neón\ Futurístico\ Multicolor.png");
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 55%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 55%;
  }
}

h2{
  text-align: center;
}

.divProducts{
  min-height: 50vh;
  max-height:70vh;
  overflow: scroll;
  margin: auto;
  width: 95vw;
  border-radius: 1rem;
}

.cartEmpty{
  display: flex;
  justify-content: center;
  min-height: 50vh;
  max-height:70vh;
  /* Glass effect */
  background-color: #ffffff80;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.cartEmpty img{
  width: 100%;
}

.product{
  /* tamaño del div */
  width: 100%;
  max-height: 150px;
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  grid-template-columns: 3fr 6fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  border-radius: 1rem;
  padding: .5rem;
  gap: .2rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  padding-block: 1rem;

  /* texto */
  text-transform: uppercase;
  font-size: .9rem;
  overflow: hidden;
  
  /* Glass effect */
  background: #ffffff80;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3); 
}

.imgProduct{
  width: 120px;
  height: 120px;
  border-radius: 1rem;
  grid-column: 1;
  grid-row: span 4;
  margin-right: .5rem;
}

.productName{
  grid-column: 2;
  grid-row: 1;
}

.valor{
  grid-column: 2;
  grid-row: 2;
}

.productCant{
  grid-column: 2;
  grid-row: 3;
}

.cantidad{
  grid-column: 2;
  grid-row: 4;
  width: 100px;
  border-radius: .5rem;
  align-items: center;
  background-color: #ffffff94;
}

.btn-close{
  grid-column: 3;
}

.close{
  width: 1.5rem;
}

button{
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
}

input{
  height: 1.5rem;
  width: 2rem;
  border-radius: .6rem;
  text-align: center;
  font-weight: lighter;
  background: transparent;
  border: none;
}

p{
  margin: 0!important;
}

.contenedor-titulo{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-boton{
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.buyButton1{
  background-color:#646464d0;
  margin: .5rem 0 .3rem!important;
  width: 250px;
  height: 35px;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: larger;
}

button.buyButton2{
  background-color:#000000d2;
  margin: .2rem 0 .5rem!important;
  width: 250px;
  height: 35px;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: larger;
}

@media screen and (min-width: 940px){
  main{
    height: 80vh;
  }
  .product {
    min-width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px; /* Espacio entre las columnas */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
  }
  
  .imgProduct {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  }
  
  .valor {
    font-weight: bold;
  }
  
  .cantidad {
    display: flex;
    align-items: center;
  }
  
  button.buyButton1{
    width: 300px;
  }
  button.buyButton2{
    width: 300px;
  }
}

/* @media screen and (min-width: 1016px){
  main{
    height: 80vh;
  }
  .cartEmpty{
    display: grid;
    height: 50vh;
    /* Glass effect * /
    background-color: #ffffff80;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  }
  .divProducts{
    max-width: 1000px;
  }
  .imgProduct{
    margin-right: auto;
  }
  .d-flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .infoProducto{
    gap: 130px;
  }
  .btn-close{
    margin-top: -80px;
  }
  .contenedor-boton{
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  button.buyButton1{
    width: 300px;
  }
  button.buyButton2{
    width: 300px;
  }
} */
/* @media screen and (min-width: 768px) and (max-width:850px){
  main{
    height: 70vh;
  }
  .cartEmpty{
    height: 65vh;
  }
  .contenedor-boton, .contenedor-titulo{
    margin: .5rem 0;
  }
  .divProducts{
    max-width: 1000px;
  }
  .imgProduct{
    margin-right: auto;
  }
  .d-flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .infoProducto{
    gap: 60px;
  }
  .btn-close{
    margin-top: -80px;
  }
  .contenedor-boton{
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  button.buyButton1{
    width: 300px;
  }
  button.buyButton2{
    width: 300px;
  }
}
@media screen and (min-width: 851px) and (max-width:939px){
  main{
    height: 90vh;
  }
  .divProducts{
    max-width: 1000px;
  }
  .imgProduct{
    margin-right: auto;
  }
  .d-flex{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .infoProducto{
    gap: 90px;
  }
  .btn-close{
    margin-top: -80px;
  }
  .contenedor-boton{
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  button.buyButton1{
    width: 300px;
  }
  button.buyButton2{
    width: 300px;
  }
} */