* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
}
.div-form{
  background: var(--formBackground);
}
.card{
  border-radius: 20px !important;
  width: 90vw;
  margin: 2rem 0;
}
form{
  width: 80%;
}
.btnSubmit{
  width: 20vh;
}
.logo-send-image{
  display: none;
}
@media screen and (min-width: 940px) {
  .card{
    width: 90vh;
  }
  .logo-send-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-send-image img{
    width: 300px;
  }
  form{
  width: 60%;
  }
}