* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
}
.conteiner-form{
  border-radius: 20px !important;
  width: 90vw;
  margin: 2rem 0;
  background: #ffffff41!important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}
form{
  width: 80%;
}
input, textarea {
  color: var(--black);
  border-radius: 8px !important;
  border: none;
  font-size: 16px;
  background: #ffffff69 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px!important;
}
.btnSubmit{
  width: 25vh;
  font-size: 20px !important;
}
.logo-send-image{
  display: none;
}

.card-body{
  align-items: center;
}

@media screen and (min-width: 940px) {
  .card-body{
    margin: 0 1rem;
  }
  .conteiner-form{
    width: 70vw;
    max-width: 900px;
  }
  .logo-send-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-send-image img{
    width: 300px;
  }
  form{
  width: 70%;
  }
}