@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
  box-sizing: border-box;
}
main{
    background: linear-gradient(-45deg, #eeb6ff, #dfbaff, #a5dbfd);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}
::selection {
  background: 0;
}
.arrow a:hover{
  color: var(--cherry);
}
.arrow{
  position: absolute;
  margin-right: 300px;
}
.arrow a{
  color: #000000;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}
/* En la clase corazon vamos a llamar latidos en la animación  */
.corazon {
display: inline-block;
font-size: 70px;
text-shadow: 0 0 10px #504e4e,1px 1px  0 #810606;
color: pink;
background-size: 200% 200%;
animation: latidos 1.5s infinite;
transform-origin: center;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
} 
section {
  min-height: 730px;
  min-width: 380px;
  padding: 15px;
  box-shadow: var(--cherry);
  border-radius: 10px;
  background: var(--white);
  overflow: hidden;
  position: relative;
  /* Glass effect */
  background: #ffffff41;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.3);
}

#logo {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 1rem 1rem;
}

nav {
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

nav label {
  font-size: 22px;
  cursor: pointer;
}

nav label:first-child {
  margin-right: 20px;
}

.input-container {
  height: 4rem;
  margin-bottom: 0.4rem;
}

form {
  position: absolute;
  min-width: 80%;
  transform: translatex(140%);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

#SignIn:checked ~ section #SignInFormData,
#SignUp:checked ~ section #SignUpFormData {
  transform: translatex(10%);
}

#SignIn:checked ~ section nav label:first-child,
#SignUp:checked ~ section nav label:last-child {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--cherry);
}

input {
  color: var(--black);
  border-radius: 8px !important;
  border: none;
  font-size: 16px;
  background: #ffffff69 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px!important;
}

input :focus{
  outline: none!important;
}

button {
  color: var(--white);
  border-radius: 8px !important;
  padding: 0.5rem 1rem;
  background: var(--black);
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  font-size: 20px !important;
  margin-bottom: 2rem !important;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.logos {
  display: flex;
}
.icon {
  width: 40px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*RESPONSIVE DESING*/
@media screen and (min-width: 940px) {
  section {
    min-width: 490px;
    min-height: 700px;
  }
  #SignIn:checked ~ section #SignInFormData,
  #SignUp:checked ~ section #SignUpFormData {
    transform: translatex(15%);
  }
  form {
    min-width: 350px;
  }
  .arrow{
    position: absolute;
    margin-right: 400px;
  }
}
