@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
  box-sizing: border-box;
}
::selection {
	background: 0;
}

body {
	height: 100vh;
	display: grid;
	place-content: center;
	background: var(--formBackground)
}

section {
	min-height: 740px;
  min-width: 380px;
	padding: 15px;
	box-shadow: var(--cherry);
	border-radius: 10px;
	background: var(--white) ;
	overflow: hidden;
	position: relative;
}
#logo {
	justify-content: center;
	display: flex;
	align-items: center;
}

nav {
	margin: 5px;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

nav label {
    font-size: 22px;
	cursor: pointer;
}

nav label:first-child {
	margin-right: 20px;
}

form {
	position: absolute;
	min-width: 300px;
	transform: translatex(140%);
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

#SignIn:checked ~ section #SignInFormData,
#SignUp:checked ~ section #SignUpFormData {
	transform: translatex(10%);
}

#SignIn:checked ~ section nav label:first-child,
#SignUp:checked ~ section nav label:last-child {
	margin-bottom: -2px;
	border-bottom: 2px solid var(--pink);
}

input,
button {
	color: var(--black);
	border-radius: 15px;
	padding: 15px 20px;
	border: none;
	outline: none;
	font-size: 16px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px  10px;
}

button {
	background: var(--black);
	font-weight: bold;
	color: var(--white);
	cursor: pointer;
	margin-top: 5px;
    font-size: 20px;
}

a {
	font-weight: bold;
	text-decoration: none;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
}
.logos{
    display: flex;
}
.invalid-feedback{
  margin-bottom: 10px;
}
 /*RESPONSIVE DESING*/
 @media screen and (min-width: 740px){
    section{
        min-width: 490px;
        min-height: 730px;
    }
    #SignIn:checked ~ section #SignInFormData,
#SignUp:checked ~ section #SignUpFormData {
	transform: translatex(15%);
}
form{
    min-width: 350px;
}
 }