* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
}
.div-form{
  background: var(--formBackground);
}
.card{
  border-radius: 20px !important;
  width: 90vw;
  margin: 2rem 0;
}
.form-conteiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password-conteiner{
  height: 120px;
}
.form-input{
  width: 100%;
}
.form-control {
  padding-right: 2.5rem;
}
.position-absolute {
  right: 1rem;
  top: 48%;
  transform: translateY(-45%);
  position: absolute;
  cursor: pointer;
}
form{
  width: 90%;
}
.form-buttons{
  justify-content: space-around;
  margin: 5px 0px 15px;
}
.btnSubmit{
  width: 20vh;
}
.icon-container{
  margin: 0 15%;
  width: 70%;
}
.icon{
  width: 40px;
}
@media screen and (min-width: 940px) {
  .card{
    width: 70vh;
  }
  .logo-send-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-conteiner{
    display: flex;
    flex-direction: row;
  }
  .form-input{
    width: 50%;
    margin: 0 .5rem;
  }
}