@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  --degradedBackground: linear-gradient(45deg, rgba(188, 112, 152, 0.95) 0%, rgba(255, 182, 185, 0.95) 100%);
  --bone-white: #f6f3e4;
  --black: #000000;
  --yellow: #f6d169;
  --pink: #ffb6b9;
  --white: #ffffff;
  --peach: #fdbda5;
  --cherry: #bc7098;
  --formBackground: linear-gradient(180deg, rgba(188, 112, 152, 0.95) -20%, rgba(255, 182, 185, 0.95) 100%);
  box-sizing: border-box;
}

.presentacion {
  width: 60vw;
  max-width: 20rem;
  height: 30vh;
  margin: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteiner-products{
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  gap: 1.5rem;
  align-content: center;
  margin: auto;
}

.modal-content{
  border-radius: 1rem!important;
  background: #ae83d3d0!important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(209, 213, 219, 0.2);
  color: var(--white);
}

.modal-bod{
  padding: 2rem;
}

.input-container {
  height: 4rem;
  margin-bottom: 0.4rem;
}

input {
  color: var(--black);
  border-radius: 8px !important;
  border: none;
  font-size: 16px;
  background: #ffffff69 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 3px!important;
}

input::placeholder{
  color: var(--white)!important;
}