@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    --degradedBackground :  radial-gradient(circle, rgba(246,209,105,0.95) 0%, rgba(250,198,136,0.97) 10%, rgba(251,195,146,0.976) 60%, rgba(255,182,185,1) 100%);
    --bone-white :  #F6F3E4 ;
    --black : #000000;
    --yellow : #F6D169;
    --pink : #FFB6B9;
    --white : #FFFFFF;
    --peach : #FDBDA5;
    --cherry : #BC7098;
}
/*Footer section*/
footer{
    background: linear-gradient(45deg, rgba(188,112,152,0.95) 0%, rgba(255,182,185,0.95) 100%);;
}
.navFooter{
    display: flex;
    justify-content: space-between;
}
 .navFooter ul {
    list-style: none;
    flex-direction: column;
    padding-top: 10px;
}
.navFooter ul li a{
    text-decoration: none;
    color: #000000;
}
.navFooter ul li a:hover{
    color: var(--bone-white);
}
ul.socialNetwork{
    display: flex;
    flex-direction: row;
    align-items: center;
}
 ul.socialNetwork li a{
    margin-right: 20px;
}
/*Responsive Design*/
@media screen and (min-width: 940px) {
    ul.socialNetwork li a{
        padding-right: 70px;
    }
    .navFooter ul {
        padding-left: 70px;
    }
}
div.banner{
    background: linear-gradient(45deg, rgba(188,112,152,0.95) 0%, rgba(255,182,185,0.95) 100%);
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
div.banner{
    background: linear-gradient(45deg, rgba(188,112,152,0.95) 0%, rgba(255,182,185,0.95) 100%);
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}